{
  "presets": ["es2015", "stage-3"],
  "plugins": [
    [
      "import",
      {
        "libraryName": "iview",
        "libraryDirectory": "src/components"
      }
    ],
    "transform-runtime"
  ]
}